*.[ao]
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libexec/
libtool
ltmain.sh
m4/
missing
src/gmac/gmac
src/tkgate/tkgate
src/tools/colors
src/tools/msgdiff
src/tools/mvtag
src/verga/verga
stamp-h1
tcl8.6.*/
tk8.6.*/
ylwrap
